<div class="vw-header">
  <div class="heading">
    <h1>Risk Assessement Tool</h1>
    <h3>Start page..</h3>
  </div>
  <div class="logo">
    <img src="images/ValkWeldingLogo.jpg" />
  </div>
</div>
